[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ansible = "*"
ansible-lint = "*"
molecule = "*"
molecule-plugins = {version = "*", extras = ["docker"]}

[requires]
python_version = "3.10"
